certifi==2018.1.18
decorator==4.2.1
Django==2.0.3
django-bootstrap-form==3.4
django-crispy-forms==1.7.2
django-extensions==2.0.6
django-filter==1.1.0
django-floppyforms==1.7.0
django-guardian==1.4.9
django-jsonfield==1.0.1
django-mail-admin==0.1.2
django-templated-mail==1.1.1
django-watson==1.5.2
djangorestframework==3.7.7
djoser==1.1.5
geoip2==2.7.0
python-dateutil
requests==2.18.4
requests-oauthlib==0.8.0
simplejson==3.13.2
