{% extends 'tickets/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-3">
            <ul class="nav nav-pills flex-column admin-menu">
                <li class="nav-item"><a href="" data-target-id="profile" class="nav-link"><span class="oi oi-person"></span>&#xA0;Profile</a>
                </li>
                <li class="nav-item"><a href="" data-target-id="change-password" class="nav-link"><span class="oi oi-lock-locked"></span>&#xA0;Change Password</a>
                </li>
                <li class="nav-item"><a href="" data-target-id="settings" class="nav-link"><span class="oi oi-cog"></span>&#xA0;Settings</a>
                </li>
                <li class="nav-item"><a href="" data-target-id="logout" class="nav-link"><span class="oi oi-account-logout"></span>&#xA0;Logout</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-7 admin-content" id="profile">
            <div class="card text-white bg-primary mb-3" style="margin: 1em;">
                <div class="card-header"><span class="oi oi-person"></span> {{ user.username }}</div>
                <div class="card-body bg-white text-dark">
                    <ul class="nav nav-pills flex-column admin-menu">
                        <li class="nav-item">Email: {{ user.email }}</li>
                        <li class="nav-item">Last Login: {{ user.last_login }}</li>
                        <li class="nav-item">Date Joined: {{ user.date_joined }}</li>
                        {%  if user.password_date != NULL %}
                            <li class="nav-item">Last Password Change: {{ user.password_date }}</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-9  admin-content" id="settings">
            <div class="card text-white bg-primary" style="margin: 1em;">
                <div class="card-header">
                    <h3 class="card-title">Notification</h3>
                </div>
                <div class="card-body bg-white text-dark">
                    <div class="label label-success">allowed</div>
                </div>
            </div>
            <div class="card text-white bg-primary" style="margin: 1em;">
                <div class="card-header">
                    <h3 class="card-title">Newsletter</h3>
                </div>
                <div class="card-body bg-white text-dark">
                    <div class="badge">Monthly</div>
                </div>
            </div>
            <div class="card text-white bg-primary" style="margin: 1em;">
                <div class="card-header">
                    <h3 class="card-title">Admin</h3>

                </div>
                <div class="card-body bg-white text-dark">
                    <div class="label label-success">yes</div>
                </div>
            </div>

        </div>

        <div class="col-lg-9  admin-content" id="change-password">
            <form action="/password" method="post">


                <div class="card text-white bg-primary" style="margin: 1em;">
                    <div class="card-header">
                        <h3 class="card-title"><label for="new_password" class="control-label panel-title">New
                            Password</label></h3>
                    </div>
                    <div class="card-body bg-white text-dark">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="password" id="new_password">
                            </div>
                        </div>

                    </div>
                </div>


                <div class="card text-white bg-primary" style="margin: 1em;">
                    <div class="card-header">
                        <h3 class="card-title"><label for="confirm_password" class="control-label panel-title">Confirm
                            password</label></h3>
                    </div>
                    <div class="card-body bg-white text-dark">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="password_confirmation"
                                       id="confirm_password">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card text-white bg-primary border" style="margin: 1em;">
                    <div class="card-body bg-white text-dark">
                        <div class="form-group">
                            <div class="pull-left">
                                <input type="submit" class="form-control btn btn-primary" name="submit" id="submit">
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="col-lg-9  admin-content" id="settings"></div>

        <div class="col-lg-9  admin-content" id="logout">
            <div class="card text-white bg-primary" style="margin: 1em;">
                <div class="card-header">
                    <h3 class="card-title">Confirm Logout</h3>
                </div>
                <div class="card-body bg-white text-dark">
                    Do you really want to logout ?  
                    <a href="#" class="label label-danger"
                       onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();">
                        <span>   Yes   </span>
                    </a>    
                    <a href="/account" class="label label-success"> <span>  No   </span></a>
                </div>
                <form id="logout-form" action="#" method="POST" style="display: none;">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
