{% extends 'tickets/base.html' %}
{% block content %}
    <h1>Servers</h1>
    {% if server_list %}
	<table class="table table-striped">
            <caption>List of servers</caption>
            <thead>
                <tr><th scope="col">Name</th><th scope="col">Cluster</th><th scope="col">Vendor</th><th scope="col">OS</th></tr>
            </thead>
            <tbody>
	        {% for server in server_list %}
		<tr><td><a href="/inventory/server/{{ server.id }}/">{{server.server_name }}</a></td><td>{{ server.cluster }}</td><td>{{ server.vendor }}</td><td>{{ server.os }}</td></tr>
	        {% endfor %}
            </tbody>
        </table>
    {% else %}
	<p>No systems are available.</p>
    {% endif %}
{% endblock %}
