{% extends 'tickets/base.html' %}

{% block content %}

<p>&nbsp;</p>

<div class="row">
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-block">
        <div class="h4 m-0">{{ num_open_projects }}</div>
        <div>Projects</div>
        <div class="progress progress-xs my-1">
          <div class="progress-bar bg-success" role="progressbar" style="width: {{ percent_open_projects }}" aria-valuenow="{{ num_open_projects }}" aria-valuemin="0" aria-valuemax="{{ max_open_projects }}"></div>
        </div>
        <small class="text-muted">Current Active Projects</small>
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-block">
        <div class="h4 m-0">{{ num_open_issues }}</div>
        <div>Tickets</div>
        <div class="progress progress-xs my-1">
          <div class="progress-bar bg-info" role="progressbar" style="width: {{ percent_open_issues }}" aria-valuenow="{{ num_open_issues }}" aria-valuemin="0" aria-valuemax="{{ max_open_issues }}"></div>
        </div>
        <small class="text-muted">Current Open Tickets</small>
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-block">
        <div class="h4 m-0">{{ num_my_issues }}</div>
        <div>My Tickets</div>
        <div class="progress progress-xs my-1">
            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ percent_my_issues }}" aria-valuenow="{{ num_my_issues }}" aria-valuemin="0" aria-valuemax="{{ max_num_issues }}"></div>
        </div>
        <small class="text-muted">My Current Open Tickets</small>
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card-block">
        <div class="h4 m-0">{{ num_systems }}</div>
        <div>Systems</div>
        <div class="progress progress-xs my-1">
            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ percent_systems }}" aria-valuenow="{{ num_systems }}" aria-valuemin="0" aria-valuemax="{{ max_systems }}"></div>
        </div>
        <small class="text-muted">Total Systems</small>
      </div>
    </div>
  </div><!--/.col-->
</div><!--/.row-->





{% endblock %}
